html, body{
  width: 100%;
  height: 200hv;
  background: linear-gradient(to top, #10344a, #045068);
  
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1{
    font-family: Arial, sans-serif;
    float: left;
    text-align: left;
    text-shadow: 0px 2px 5px black;
    background: linear-gradient(to right, #0b6c8d, #398197);
    box-shadow: 0px 2px 10px black;
    color: white;
    border-radius: 30px;
    box-sizing: border-box;
    width: auto;
    height: 45px;
    margin-top: 60px;
    padding: 0px 10px;
  }
  header img{
    max-width: 100%;
    height: 100%;
    display: block;
    border:4px solid #caf2ff;
    border-radius: 50%;
    float:left;
    box-shadow: 2px 1px 10px black;
    margin-top: 20px;
    margin-left: 20px;
  }
  header{
    display: flex;
    width: 100%;
    height: 15%;
  }
  
  
  nav{
    height: 50px;
    width: 100%;
    position: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    transition: 0.2 ease-in-out;
    
  }
  nav li{
    display: inline-block;
    text-shadow: 1px 5px 8px black;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-decoration: none;
    transition: 0.2 ease-in-out;
    margin-left: 10px;
    font-size: 2.5rem;
  }
  a{
    color: white;
    font-weight: bold;
    text-transform: none;
    font-style: none;
    font-size: 2.2rem;
    text-decoration: none;
    text-shadow: 0 0 8px black;
  }
  a:hover{
    color: white;
    text-shadow: 1px 1px 5px gold;
    transition: 0.2 ease-in-out;
  }
  a:active{
    color: gold;
    text-shadow: 0px 1px 0px black;
    transition: 0.2 ease-in-out;
  }
  nav li::before{
    content: '❖';
    color: gold;
    
  }
  *{
    font-family: Roboto, monospace;
  }
  #statement{
    width: 90%;
    height: auto;
    overflow: scroll;
  }
  #statement p{
    text-align: left;
    text-shadow: 1px 1px 2px black;
    color: white;
    background: linear-gradient(to bottom, #0287AD, #012B37);
    border: transparent;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
    padding: 5px;  
    overflow: scroll;
  }
  p{
    text-align: left;
    text-shadow: 1px 1px 2px black;
    color: rgb(3, 32, 78);
    background: linear-gradient(to bottom, #91d5e8, #54bdda);
    border: transparent;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
    padding: 5px;  
    overflow: scroll;
    margin-left: 130px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  footer{
    height: 10%;
    width: 100%;
    position: center;
    overflow: hide;
    display: inline-block;
    list-style: none;
  }
  #contact img{
    max-width: 100%;
    height: 100%;
    display: block;
    border:2px solid #dcf6ff;
    border-radius: 50%;
    float: none;
    box-shadow: 2px 1px 10px black;
    
  }
  #contact li {
    display: inline-block;
    text-shadow: 1px 1px 5px black;
    justify-items: space-around;
    align-items: space-around;
    margin: 0px 10px;
    list-style: none;
  }
  footer ul{
    display: inline-block;
    width: 100%;
    position: center;
  }
  footer a{
    text-align: center;
  }

  #projects{
    display: inline-flex;
    width: 100%;
    flex-flow: row wrap;
    height: auto;
    
  }

  #projects img{
    transition: 0.4 ease-in-out;
    float: inline-start;
    width: 85%;
    height: auto;
    border-radius: 50px;
    margin-left: 20px;
    
    
    }
  #projects img:hover{
    opacity: 0.8;
  }

  #projects img:active{
    opacity: 0.5;

  }
  
  #projects p{
    width: 60%;
    height: 5%;
    float: inline-end;
    margin-left: 10px;
    margin-top: 50px;
    margin-bottom: none;
    margin-right: none;
  }
h2{
  font-size: 4rem;
  font-family: Roboto, monospace;
  color: white;
  text-shadow: 2px 5px 10px black;
  margin: 20px;
  width: 100%;
  
}

hr{
 
  width: 100%;
  height: 10px;
  color: rgb(155, 182, 215);
  background-color: rgb(225, 245, 254);
  border: none;
  box-shadow: 0 5px 10px black;
  margin-top: 30px;
  margin-bottom: 30px;
}

a{
  transition: 0.4 ease-in-out;
  float: inline-start;
  width: 30%;
  height: auto;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 10px;
  
}

#title{
  font-size: 4.4rem;
  text-align: left;
  background: rgb(68, 189, 229);
  box-shadow: 15px 15px 4px black;
  width: 40%;
  padding: 10px;
  line-height: 60px;
  border: 4px solid black;

}
@media only screen and (max-width: 680px) and (orientation: portrait){
  h1{
    height: 25%;
    font-size: 1.0rem;
  }
  #projects p{
    width: 100%;
  }
  #projects img{
    width: 200px;
    height: auto;
  }
 #title{
    font-size: 2rem;
    width: 60%;
  }
  nav a{
    font-size: 1.0rem;
  }
}